@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

    <div id="top-banner">
        <div class="banner-title">
            Welcome to mysite
        </div>
        <div class="banner-image">
            <img src="/Presentation/dist/assets/img/banner_image.png" width="1085" height="360" />
        </div>
    </div>